/*********
 * panel *
 *********/
#panel_window {
    background-color: transparent;
    background-image: none;
    color: white;
    font: bold;
    text-shadow: 0 1px alpha(black, 0.5);
    icon-shadow: 0 1px alpha(black, 0.5);
}

#panel_window .menubar,
#panel_window .menubar > .menuitem {
    background-color: transparent;
    background-image: none;
    color: white;
    font: bold;
    text-shadow: 0 1px alpha(black, 0.5);
    icon-shadow: 0 1px alpha(black, 0.5);
}

#panel_window .menubar > .menuitem:hover {
    border-style: none;
    background-color: alpha(white, 0.2);
    background-image: none;
    color: white;
}

#panel_window .menubar > .menuitem *:hover {
    color: white;
}

#panel_window .menubar > .menuitem:insensitive {
    color: alpha(white, 0.7);
}

#panel_window .menubar .menu {
    border-radius: 0;
}

#panel_window .menubar .menu .menuitem {
    font: normal;
    text-shadow: none;
}

/****************
 * login window *
 ****************/
#login_window,
#shutdown_dialog,
#restart_dialog {
    border-style: none;
    border-radius: 0;
    background-color: transparent;
    color: @lightdm_fg_color;
}

#content_frame {
    padding-bottom: 14px;
    border-style: none;
}

#login_window .menu {
    border-radius: 0;
}

#login_window GtkComboBox .button,
#login_window GtkComboBox .button:hover,
#login_window GtkComboBox .button:active,
#login_window GtkComboBox .button:active:hover,
#login_window GtkComboBox .button:focus,
#login_window GtkComboBox .button:hover:focus,
#login_window GtkComboBox .button:active:focus,
#login_window GtkComboBox .button:active:hover:focus {
    padding: 0;
    background: none;
    border-style: none;
    box-shadow: none;
}

#login_window GtkComboBox .button:focus,
#login_window GtkComboBox .button:hover:focus,
#login_window GtkComboBox .button:active:focus,
#login_window GtkComboBox .button:active:hover:focus {
    background: transparent;
    border-style: none;
}

#login_window #user_combobox {
    color: @lightdm_fg_color;
    font: 18px;
}

#login_window #user_combobox .menu {
    font: normal;
}

#login_window #user_combobox .arrow {
    color: mix(@lightdm_fg_color, @lightdm_bg_color, 0.5);
}

#login_window .entry {
    padding: 3px 5px;
    border-style: none;
    border-radius: 0;
    background-color: alpha(black, 0.05);
    background-image: none;
    color: @lightdm_fg_color;

    box-shadow: none;
    transition: all 150ms ease-out;
}

#login_window .entry:focus,
#login_window .entry:hover {
    border-color: alpha(black, 0.05);
}

#login_window .button,
#shutdown_dialog .button,
#restart_dialog .button {
    padding: 3px 15px;
    border-width: 1px;
    border-radius: 0;
    border-style: solid;
    border-color: alpha(black, 0.05);
    background-color: transparent;
    background-image: none;
    color: @lightdm_fg_color;
    transition: all 150ms ease-out;
}

#user_image {
    padding: 3px;
    border-radius: 0;
    border-style: none;
}

#user_image_border {
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    border-style: none;
}

#buttonbox_frame {
    padding-top: 10px;
    padding-bottom: 0;
    border-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

/******************************
 * default and focused button *
 ******************************/
#login_window .button.default,
#shutdown_dialog .button.default,
#restart_dialog .button.default,
#login_window .button:focus,
#login_window .button:active:focus,
#shutdown_dialog .button:focus,
#shutdown_dialog .button:active:focus,
#restart_dialog .button:focus,
#restart_dialog .button:active:focus {
    border-color: alpha(black, 0.05);
    background-color: transparent;
    background-image: none;
    color: @theme_selected_fg_color;
}

#login_window .button.default:hover,
#shutdown_dialog .button.default:hover,
#restart_dialog .button.default:hover,
#login_window .button:hover:focus,
#login_window .button:active:hover:focus,
#shutdown_dialog .button:hover:focus,
#shutdown_dialog .button:active:hover:focus,
#restart_dialog .button:hover:focus,
#restart_dialog .button:active:hover:focus {
    border-color: alpha(black, 0.05);
    background-color: alpha(white, 0.05);
}

/********************
 * password warning *
 ********************/
#greeter_infobar {
    font: bold;
    background-color: alpha(black, 0.05);
    color: @lightdm_fg_color;
}
